body {
  margin: 0;
  background-color: #c5c5c555; 
}

.oculto {
  display: none !important;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03); 
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.centrar-texto-carrusel {
  top: 50%;
  bottom: auto; 
  transform: translateY(-50%); 
}

.centrar-texto-carrusel h5 {
  font-size: 3rem; 
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7); }

.centrar-texto-carrusel p {
  font-size: 1.5rem; 
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

#tablaCarrito th, 
#tablaCarrito td {
    white-space: nowrap;
    vertical-align: middle;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }
    .card-img-top {
        height: 250px !important;
    }
}