<footer class="bg-dark text-white pt-4 pb-2 mt-5">
    <div class="container">
        <div class="row text-start">
            <hr class="border-light">
            
            <div class="col-md-4 mb-3">
                <h5 class="fw-bold">MARKET.CL <i class="bi bi-cart"></i></h5>
                <p class="small">
                    Proyecto educativo de Front-End enfocado en hardware, tecnología y equipos profesionales para armar tu propio setup y home studio.
                </p>
            </div>

            <div class="col-md-4 mb-3">
                <h6 class="fw-bold">Menú de Navegación</h6>
                <ul class="list-unstyled">
                    <li><a href="/index.html" class="text-white text-decoration-none">Inicio</a></li>
                    <li><a href="/pages/compras.html" class="text-white text-decoration-none">Compras</a></li>
                    <li><a href="/pages/perfil.html" class="text-white text-decoration-none">Perfil</a></li>                    
                </ul>
            </div>

            <div class="col-md-4 mb-3">
                <h6 class="fw-bold">Síguenos en..</h6> 
                <a href="https://www.instagram.com/blazein_archives/" class="text-white me-3 fs-5"><i class="bi bi-instagram"></i></a>
                <a href="https://github.com/Blazeeone" class="text-white me-3 fs-5"><i class="bi bi-github"></i></a>
                <a href="https://open.spotify.com/user/31vur4rq3ul7ehhmzlw43pfd52ky?si=205cf20b018b42ce" class="text-white fs-5"><i class="bi bi-spotify"></i></a>
            </div>            
        </div>

        <hr class="border-light">

        <div class="text-center small pb-2">
            © 2026 - MARKET.CL | Creado desde casa del Yoshua | Estudiante de Analista Programador
        </div>
    </div>
</footer>